$primary: rgb(255, 255, 255);
$body-bg: rgb(255, 255, 255);

@import '~bootstrap/scss/bootstrap.scss';

$color: steelblue;

.navbar {
  color: rgb(42, 98, 145);
  background-color: rgb(42, 98, 145);
}